<div class="container">
	<div class="back-color">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="text-left">試合 一覧</h1>
				<table class="table">
					<thead>
						<tr>
							<th>登録者 ID</th>
							<th>ユーザー名</th>
							<th>試合状況</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody class="text-left">
						<% @matches.order(created_at: "desc").each do |match| %>
						<tr>
							<td><%= match.id %></td>
							<td><%= match.match_name %></td>
							<td><%= match.match_status %></td>
							<td><div><%= link_to '試合詳細', admin_match_path(match.id), class: "btn btn-default" %></div></td>
							<td><%= link_to "削除", admin_match_path(match.id), method: :delete,"data-confirm" => "削除しますか？", class: "btn btn-danger" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
