<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
      <div class="admin_order_headline">
			  <h2>注文詳細 一覧</h2>
      </div>
			<div class="row">
        <div class="col-md-5 col-md-offset-1">
          <label>試合ID</label>
          <p><%= @match.id %></p>
          <label>ステータス</label>
          <%= form_for([:admin, @match]) do |f| %>
            <%= f.select :match_status, Match.match_statuses.keys %>
            <% @match.teams.each do |team| %>
            <%= f.radio_button :team_id, team.id, {:checked => false} %>
            <%= team.team_name %>
            <% end %>
            <%= f.submit '変更' %>
          <% end %>
          <% @results.each do |result| %>
            <%= result.countresult %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

